.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 80s linear;
    height: 320px;
    border-radius: 80%;
}

.App-header {
    background-image: -moz-linear-gradient(45deg, #FF8200 25%, transparent 25%),
    -moz-linear-gradient(-45deg, #FF8200 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #ff8200 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #ff8200 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ff8200), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ff8200), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ff8200)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ff8200));

    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
    -webkit-background-size: 100px 101px; /* override value for shitty webkit */

    background-position: 0 0, 50px 0, 50px -50px, 0px 50px;
}

.App-title {
    animation: App-title-wobble infinite 12s linear;
    font-size: 4em;
    color: #f54e40;

}

.App-intro {
    font-size: medium;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(60deg);
    }
}

@keyframes App-title-wobble {
    0% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-25%) rotate(-33deg);
    }
    30% {
        transform: translateX(20%) rotate(33deg);
    }
    45% {
        transform: translateX(-15%) rotate(-33deg);
    }
    60% {
        transform: translateX(10%) rotate(33deg);
    }
    75% {
        transform: translateX(-5%) rotate(-33deg);
    }
    100% {
        transform: translateX(0%);
    }
}