.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 80s linear;
    height: 320px;
    border-radius: 80%;

}

.time-line{
    position: fixed;
    text-align: left;
}

.App-header {
    background-image: -moz-linear-gradient(45deg, #FF8200 25%, transparent 25%),
    -moz-linear-gradient(-45deg, #FF8200 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #ff8200 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #ff8200 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ff8200), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ff8200), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ff8200)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ff8200));

    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
    -webkit-background-size: 100px 101px; /* override value for shitty webkit */

    background-position: 0 0, 50px 0, 50px -50px, 0px 50px;
}

.App-title {
    animation: App-title-wobble infinite 12s linear;



}

.App-intro {
    font-size: medium;
}

@keyframes App-logo-spin {
    from {
        transform:  rotate(0deg);
    }
    to {
        transform: rotate(60deg);
    }
}

@keyframes App-title-wobble {
    0% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-25%) rotate(-33deg);
    }
    30% {
        transform: translateX(20%) rotate(33deg);
    }
    45% {
        transform: translateX(-15%) rotate(-33deg);
    }
    60% {
        transform: translateX(10%) rotate(33deg);
    }
    75% {
        transform: translateX(-5%) rotate(-33deg);
    }
    100% {
        transform: translateX(0%);
    }
}
.butchType{
    color: Black;
    position: fixed;
    text-align: right;
    font-family: "Courier";
    font-size: 35px;
    font-style: oblique;
    margin: 0 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    animation: type 4s steps(60, end);
}

.butchType:nth-child(2){

    animation: type2 8s steps(60, end);
}

.butchType a{
    color: Black;
    text-decoration: none;

}

span{
    animation: blink 1s infinite;
}

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
}

@keyframes blink{
    to{opacity: .0;}
}